/* Import font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+IE+Guides&display=swap');


:root{
    --clr-site-background: #161515;
    --clr-white: #ffffff;
    --clr-navbar: #292b2a;
    --clr-navbar-link-hover: #67dbe4;
    --clr-btn: #c4c2c2;
    --clr-btn-hover: #85e2e9;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--clr-site-background);
    color: var(--clr-white);  
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

.nav-logo{
    font-size: 2rem;
}

.nav-logo:hover{
    cursor: default;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: var(--clr-navbar);
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0px;
}


.nav-links{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.nav-links a:hover{
    color: var(--clr-navbar-link-hover);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}



.nav-menu-toggle{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.nav-menu-toggle .bar{
    height: 3px;
    width: 25px;
    background-color: var(--clr-white);
    margin: 3px 0;
}

/* Responsiveness: add menubar when screen is smaller */
@media screen and (max-width: 800px) {
    .nav-menu-toggle{
        display: flex;
    }

    .nav-links{
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--clr-navbar);
        position: absolute;
        top: 3.5rem;
        left: 0px;
    }

    .nav-links li{
        text-align: center;
        margin: 1rem 0;
    }

    .nav-links.active{
        display: flex;
    }
}



section{
    padding-top: 10vh;
    height: 90vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}


/* Profile */
.section-pic-container{
    margin: auto 0;
}

#profile-section{
    display: flex;
    justify-content: center;
    gap: 4rem;
    height: 80vh;
}

.section-text{
    align-self: center;
    text-align: center;
}

.section-text p{
    font-weight: 400;
}

.section-text-p1{
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.section-text-p2{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.section-profile-name{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.btn{
    border-radius: 15%;
    height: 4rem;
    width: 10rem;
    background-color: var(--clr-btn);
}

.btn:hover{
    cursor: pointer;
    background-color: var(--clr-btn-hover);
}

/* About Me */
#about-me-section{
    display: flex;
    justify-content: center;
    gap: 4rem;
    height: 80vh;
}

/* Experience */
#experience-section{
    display: flex;
    justify-content: center;
    gap: 4rem;
    height: 80vh;
}


/* Technologies */
#technologies-section{
    display: flex;
    justify-content: center;
    gap: 4rem;
    height: 80vh;
}


/* Random */
#random-section{
    display: flex;
    justify-content: center;
    gap: 4rem;
    height: 80vh;
}
